@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");

ul,
li {
	margin: 0;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

* {
	--btn-light: #21262e;
	--bg-dark: rgb(22, 26, 31);
	--red: #cf5953;
	--blue: #388bee;
	--green: #68a521;
	--gray-hover: #363a45;
	--header-light-blue: #729dd3;
	--header-svg: #838ca3;
	--header-dark: #161a1f;
	--text-color-brighter: #d1d1d1;
	--text-color: #bababa;
	--white: #fff;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	box-sizing: border-box;
	color: var(--text-color-brighter);
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background-color: var(--bg-dark);
	min-height: 100vh;
	width: 100vw;
}

.header-nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 5rem;
	background-color: var(--header-dark);
	flex-wrap: nowrap;
	font-weight: normal;
	border: 0px solid black;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	z-index: 999;
	top: 0;
	position: fixed;
}

.left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15rem;
	height: 100%;
}

.logo svg {
	max-width: 176px;
	aspect-ratio: auto 176 / 44;
	max-height: 44px;
}

.right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 80vw;
	height: 100%;
}

.titles {
	display: flex;
	flex-direction: row;
}

.titles li {
	color: var(--text-color);
	padding: 1rem 2rem;
}

.hover-underline-animation {
	position: relative;
	color: #ffffff;
	text-decoration: none;
}

.hover-underline-animation:hover {
	cursor: pointer;
}

.hover-underline-animation::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: 0;
	right: 0;
	background-color: #729dd3;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.icons,
.player-info {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.icons div {
	padding-right: 1rem;
}

svg:hover path {
	cursor: pointer;
	fill: var(--blue);
}
.home {
	height: 100vh;
	width: 100%;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 200px;
	top: 5rem;
	left: 0;
	height: 100%;
	background-color: var(--btn-light);
	position: fixed;
}

.genre li,
.options li {
	padding: 1rem 2rem;
	font-size: 1.3rem;
	font-weight: 500;
}

.genre li:hover,
.options li:hover {
	background-color: var(--gray-hover);
	cursor: pointer;
}

.options {
	border-top: 1px solid var(--gray-hover);
	font-weight: normal;
	padding-bottom: 5rem;
}

.home {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: stretch;
}

.carousel {
	background-color: #fff;
	min-height: 600px;
	background: linear-gradient(
			to bottom,
			rgba(33, 38, 46, 0) 50%,
			rgba(22, 26, 31, 1)
		),
		url(/images/death-stranding-banner-cropped.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 5rem;
}

.home-nav-bar {
	position: relative;
	margin-top: -2%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	height: 5rem;
	padding-left: 4rem;
	padding-right: 4rem;
	font-size: 0.8rem;
}

.left-bar {
	display: flex;
	flex-direction: row;
}

/* .left-bar > .select-box {
	
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 4px;
	background-color: var(--btn-light);
	margin-right: 1rem;
	border: 0;
	outline: 0;
	font: inherit;
} */

.select-box {
	/* Reset. */
	border: unset;
	outline: 0;

	/* Style */
	width: 100%;
	padding: 0.5rem 1.8rem 0.5rem 0.7rem;
	margin-right: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: var(--btn-light);
	border-radius: 2px;

	text-align: left;

	/* Arrow */
	appearance: none;
	background-image: url("/images/caret.png");
	background-repeat: no-repeat;
	background-position: right 0 top 50%;
	background-size: 2rem;
}

select:active {
	border: none;
}
.right-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.right-bar input {
	all: unset;
	margin-right: 1rem;
	width: 300px;
	background-color: var(--btn-light);
	border: none;
	padding: 10px;
	border-radius: 0.2rem;
}

.right-bar .icons div {
	margin-right: 1rem;
	width: 30px;
	padding-right: 0;
}

.home-content-header {
	display: flex;
	flex-direction: row;
	font-size: 1rem;
	justify-content: space-between;
	align-items: baseline;
	padding-left: 4rem;
	padding-right: 4rem;
	margin-bottom: 3rem;
}

.home-header {
	font-weight: 700;
	font-size: 1rem;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin-left: 200px;
}

.buttons button {
	padding: 8px 16px;
	background-color: var(--btn-light);

	border: none;
	border-radius: 15px;
}

.buttons button:first-child {
	background-color: #388bee;
}

.home-content-cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 4rem;
	padding-right: 4rem;
	width: 100%;
	gap: 4rem;
	padding-bottom: 5rem;
}

.game-wrapper {
	background-color: var(--btn-light);
	height: 300px;
	width: 450px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	transition: box-shadow 0.3s;
	padding-bottom: 10px;
	padding-top: 0;
	margin-top: 0;
}

.game-wrapper:hover {
	cursor: pointer;
	background-color: #2a2f3a;
	box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.game-wrapper img {
	object-fit: scale-down;
	min-height: 85%;
	height: 100%;
	margin-top: 0;
}

.game-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 15%;
}

.game-info-contents {
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#title {
	width: 100%;
}

#price {
	color: var(--green);
}

.favorite {
	width: 30px;
}

.main-game-wrapper {
	position: relative;
	margin: auto;
	background-color: var(--btn-light);
	display: flex;
	flex-direction: row;
	box-sizing: border-box;
	gap: 5rem;
	padding: 2rem;
	padding-right: 2rem;
	font-size: 1rem;
	justify-content: center;
	border-radius: 5px;
	max-width: 80%;
}

.main-game-wrapper img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	flex-grow: 2;
	align-self: center;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px,
		rgba(0, 0, 0, 0.15) 0px 2px 6px 2px;
}

.main-game-wrapper p {
	color: var(--header-svg);
}

.tag-container {
	display: flex;
	flex-flow: row wrap;
}

.tag {
	background-color: var(--header-dark);
	padding: 8px 16px;
	border-radius: 3px;
	margin-right: 0.5rem;
	margin-top: 0.3rem;
}
